<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" href="{{ url_for('user.dashboard') }}">FWAS</a>
      <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="">Alerts</a>
        <a class="navbar-item" href="">Subscriptions</a>
        <a class="navbar-item" href="">Settings</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="#0">About</a>
        {% if current_user.email %}
          <a class="navbar-item" href="{{ url_for('user.logout') }}">Logout</a>
        {% else %}
          <a class="navbar-item" href="{{ url_for('user.login') }}">Sign In</a>
          <a class="navbar-item" href="#0">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
