repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort -rc --atomic
        types: [python]
        files: fwas

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black
        types: [python]
        files: fwas

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py
        files: fwas

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pipenv run pytest
        types: [python]
        files: fwas
