-i https://pypi.org/simple
ansible
appdirs
attrs
backcall
black
cffi
click
coverage
cryptography
decorator
distlib
entrypoints
filelock
flake8
freezegun
importlib-metadata
ipdb
ipython-genutils
ipython
isort
jedi
jinja2
markupsafe
mccabe
more-itertools
packaging
parso
pathspec
pexpect
pickleshare
pip-tools
pluggy
prompt-toolkit
ptyprocess
py
pycodestyle
pycparser
pyflakes
pygments
pyparsing
pytest-cov
pytest-freezegun
pytest
python-dateutil
pyyaml
regex
six
toml
tox
traitlets
typed-ast
virtualenv
wcwidth
zipp
