[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pip = "*"
coverage = "*"
psycopg2-binary = "*"

[packages]
flask = "*"
click = "*"
python-dotenv = "*"
click-log = "*"
attr = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
redis = "*"
rq = "*"
geoalchemy2 = "*"
arrow = "*"
attrs-sqlalchemy = "*"
flask-shell-ipython = "*"
invoke = "*"
aiohttp = "*"
aiofiles = "*"
records = "*"
tablib = {extras = ["pandas"],version = "*"}
apispec = "*"
apispec-webframeworks = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
