-i https://pypi.org/simple
aiofiles
aiohttp
alembic
arrow
async-timeout
attr
attrs-sqlalchemy
attrs
bcrypt
click-log
click
geoalchemy2
fastapi[all]
databases[postgresql]
invoke
itsdangerous
jinja2
loguru
numpy
pandas
pyjwt
python-dateutil
python-dotenv
pytz
pyyaml
redis
rq-dashboard
rq-scheduler
rq
sqlalchemy-utils
sqlalchemy
traitlets
typing-extensions
uvicorn
validators
werkzeug
wtforms-alchemy
wtforms-components
wtforms
pydantic
