{% macro alert_details(alert) %}
<details>
  <summary class="f5 f4-ns fw6 lh-title mv0 bb b--black-50 pv3">
      {{ alert.name }}
  </summary>
  <div class="pt2 dtc w3">
      <a target="_blank" href="http://www.openstreetmap.org/?lat={{ alert.latitude }}&lon={{ alert.longitude }}&zoom=17&layers=C">
          <img src="{{ url_for('static', filename='icons/icons8-map-64.png') }}" />
      </a>
  </div>
  <div class="cf">
      {{ alert_item('Latitude', alert.latitude) }}
      {{ alert_item('Longitude', alert.longitude) }}
      {{ alert_item('Radius', alert.radius) }}
      {{ alert_item('Temperature Limit', alert.temperature_limit) }}
      {{ alert_item('Relative Humidity Limit', alert.relative_humidity_limit) }}
      {{ alert_item('Wind Limit', alert.wind_limit) }}
      {{ alert_item('Precipitation Limit', alert.wind_limit) }}
  </div>
</details>
{% endmacro %}


{% macro alert_item(title, value) %}
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 fw4 ml0">{{ title }}</dd>
      <dd class="f3 fw6 ml0">{{ value }}</dd>
    </dl>
{% endmacro %}
