{% from 'alert/detail.html' import alert_details with context %}
{% extends 'layouts/app.html' %}

{% block title %}FWAS Dashboard{% endblock %}

{% block body %}

<article class="cf center">
    <div class="fl w-100 w-25-ns">
        <header class="f4 fw3 lh-title">Account Details</header>
        <ul class="list pl0 mt0 measure center">
            <li class="f6 db black-70">{{ current_user.email }}</li>
            <li class="f6 db black-70">{{ current_user.username }}</li>
            <li><a href="tel:" class="f6 link blue hover-dark-gray">{{ current_user.phone }}</a></li>
        </ul>
    </div>
    <div class="fl w-100 w-75-ns mw6">
        <header class="f2 f1-ns fw3 lh-title">
            Alerts
        </header>
        {% for alert in current_user.alerts %}
            {{ alert_details(alert) }}  
        {% endfor %}
    </div>
</article>

{% endblock %}
