{% extends 'layouts/base.html' %}
{% import 'macros/forms.html' as f with context %}

{% block title %}Sign in to access your account{% endblock %}

{% block body %}

<div class="columns">
  <div class="column is-one-fifth is-offset-one-third">
    <header>
      <h1 class="title is-1">Fire Weather Alert Service</h1>
    </header>
    <section>
    {% call f.form_tag('user.login') %}
      <legend class="h2 is-subtitle">Sign in to continue</legend>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input id="identity" class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input id="password" class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit">
            Login
          </button>
        </p>
      </div>
    {% endcall %}
    <div class="mt1">
        <div class="mt1">
            <a href="{{ url_for('user.signup') }}"
               class="f6 link dim near-black db">
              Register
            </a>
        </div>
        <div class="mt1">
            <a href="{{ url_for('user.begin_password_reset') }}" class="f6 link dim near-black">
              Forgot your password?
            </a>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>

{% endblock %}
