{% extends 'layouts/base.html' %}
{% import 'macros/forms.html' as f with context %}

{% block title %}Sign in to access your account{% endblock %}

{% block body %}
  <div class="mt3 center mw5 mw7-ns>
    <div class="">
      {% call f.form_tag('user.login') %}
        <legend class="mb3">Sign in to continue</legend>

        {% call f.form_group(form.identity, css_class='mb1',
                             autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='mb1') %}
        {% endcall %}

        <div class="">
            <button type="submit" class="f6 link dim br2 ph3 pv2 mb2 white bg-dark-green">
              Sign in
            </button>
        </div>
      {% endcall %}
      <div class="mt1">
        <div class="mt1">
            <a href="{{ url_for('user.signup') }}"
               class="f6 link dim near-black db">
              Register
            </a>
        </div>
          <div class="mt1">
            <a href="{{ url_for('user.begin_password_reset') }}" class="f6 link dim near-black">
              Forgot your password?
            </a>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
